* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Sora", "sans-serif";
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #575f66;
    --tertiary-color: white;
    --footer-desc-color: #a9b3bb;
    --header-desc-color: #c9d2da;
}

/* -------------------- Common ------------------- */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* luôn tạo khoảng trống 2 bên nội dung trang một đoạn phòng chiều rộng bị thu nhỏ */
    margin: 0px auto;
}

.btn {
    display: inline-block;
    color: var(--tertiary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    border-radius: 999px;
    background: #2e80ce;
    padding: 15px 20px;
    min-width: 205px;
    height: 60px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.main-desc {
    color: #575f66;
    font-weight: 300;
    line-height: 1.67;
}

/* -------------------- Header ------------------- */

/* Logo */
.header {
    background: var(--primary-color);
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 110px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: var(--tertiary-color);
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    display: block;
    color: var(--tertiary-color);
    font-style: normal;
    margin-left: 6px;
}

.logo__brand {
    font-size: 1.8em;
    font-weight: 400;
    display: block;
    text-align: right;
}

.logo__brand--small {
    font-size: 1.2em;
    line-height: 1.2em;
}

/* Navbar */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
}

.navbar__link {
    color: var(--header-desc-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
}

.navbar__link:hover {
    content: "";
    color: var(--tertiary-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    color: var(--tertiary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__item--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--tertiary-color);
    position: relative;
    top: -2px;
    left: 12px;
}

/* Actions */
.action__login {
    color: var(--header-desc-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-right: 28px;
}

.action__login:hover {
    text-decoration: underline;
}

.btn--small {
    min-width: 104px;
    font-size: 1.6rem;
    padding: 8px;
    height: 44px;
}

/* ---------------------- Hero ----------------------- */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    gap: 113px;
}

/* Hero content */
.hero__heading {
    color: var(--tertiary-color);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: var(--footer-desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    max-width: 468px;
}

.hero__actions {
    margin-top: 38px;
}

.hero__phone-number {
    color: var(--tertiary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}

/* Hero media */
.hero__media {
    max-width: 50%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--big {
    max-width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small {
    max-width: 210px;
    height: 410px;
    position: relative;
    right: 5px;
}

/* -------------------- Service ------------------- */
.service {
    padding: 170px 0px 170px;
}

.service__heading {
    text-align: center;
}

.service__desc {
    font-size: 1.8rem;
    max-width: 468px;
    text-align: center;
    margin: 18px auto 0;
}

.services__container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-img {
    max-width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__item {
    max-width: 470px;
    border-radius: 10px;
}

.service__item-body {
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 19px;
    padding: 21px 22px;
}

.service__item--hover {
    background: var(--tertiary-color);
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__bg-icon {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        #eff6fd 0px 4px 8px,
        #eff6fd0d 0px 5px 10px;
}

.service__bg-icon--hover {
    background: #2e80ce;
    box-shadow:
        #2e80ce26 0px 4px 8px,
        #2e80ce0d 0px 5px 10px;
}

.service__icon {
    max-width: 22px;
    max-height: 24px;
    object-fit: cover;
}

.service__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service__item-desc {
    margin-top: 8px;
    max-width: 245px;
}

.btn__see-more {
    margin-top: 55px;
}

/* ----------------- Feature ----------------- */
.feature {
    padding: 100px 0;
    background: #f6fbff;
}

.feature__desc {
    font-size: 1.8rem;
    max-width: 468px;
    margin-top: 18px;
}

.feature__list {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.feature__item {
    border-radius: 4px;
    background: #eaf6ff;
    width: 370px;
    height: 402px;
    padding: 16px;
}

.feature__item--hover {
    background: #2e80ce;
    position: relative;
    top: -16px;
}

.feature__item-body {
    max-width: 338px;
    height: 370px;
    border-radius: 4px;
    background: var(--tertiary-color);
    padding: 42px;
}

.feature__item-title {
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 18px;
}

.feature__item-desc {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 28px;
    padding-bottom: 18px;
}

.feature__item-action {
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 0;
}
